@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
  
  html { scroll-behavior: smooth; }
  
  /* Source: https://github.com/nuxt/ui/issues/2332 */
  button,
  [role="button"] {
    @apply cursor-pointer;
    @apply disabled:cursor-not-allowed;
  }

  mark { 
    background: var(--color-indigo-900);
    color: var(--text-color-default);
  }
}

@theme static {
  --font-sans: 'Geist', sans-serif;

  --container-8xl: 96rem;

  --color-brand-50:  #fbfaff;
  --color-brand-100: #f6f4ff;
  --color-brand-200: #ece8ff;
  --color-brand-300: #d8d0ff;
  --color-brand-400: #9a87f0; /* #6d4eff */
  --color-brand-500: #6342ff;
  --color-brand-600: #5A3CE8;
  --color-brand-700: #322180;
  --color-brand-800: #191140;
  --color-brand-900: #0d0920;
  --color-brand-950: #070510;

  --color-earth-50:  #f3f3f6;
  --color-earth-100: #eaeaec;
  --color-earth-200: #d3d3da;
  --color-earth-300: #a6a4b2;
  --color-earth-400: #727083;
  --color-earth-500: #58566b;
  --color-earth-600: #3e3b53;
  /* --color-earth-700: #2e2c40; */
  --color-earth-700: #272534;
  --color-earth-800: #17161d;
  --color-earth-900: #0e0d11;
  --color-earth-950: #070709;

  /* --color-earth-900: #151723; */
}

:root {
  --ui-border: var(--color-neutral-700);
  --border-DEFAULT: var(--color-neutral-700);
  --ui-primary: var(--ui-color-primary-500);
  --ui-secondary: var(--color-tropical-mint);
  /* --ui-secondary: var(--ui-color-secondary-500); */
  /* --ui-success: var(--ui-color-success-500); */
  /* --ui-info: var(--ui-color-info-500); */
  /* --ui-warning: var(--ui-color-warning-500); */
  /* --ui-error: var(--ui-color-error-500); */

  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-950);
  /* --ui-bg-elevated: var(--ui-color-neutral-800); */
  /* --ui-bg-accented: var(--ui-color-neutral-700); */
  /* --ui-bg-inverted: white; */

  /* --ui-text-dimmed: var(--ui-color-neutral-500); */
  /* --ui-text-muted: var(--ui-color-neutral-400); */
  /* --ui-text-toned: var(--ui-color-neutral-300); */
  --ui-text: var(--ui-color-neutral-200);
  /* --ui-text-highlighted: white; */
  /* --ui-text-inverted: var(--ui-color-neutral-900); */
}

/* @utility grid-bg-md {
background:
  linear-gradient(to right,
  transparent               0%,
  transparent               calc(50% - 360.01px),
  rgba(88,86,107,0.2)     calc(50% - 360px),
  rgba(88,86,107,0.2)     calc(50% - 359px),
  transparent               calc(50% - 358.9px),
  transparent               calc(50% - 300.01px),
  rgba(88,86,107,0.2)     calc(50% - 300px),
  rgba(88,86,107,0.2)     calc(50% - 299px),
  transparent               calc(50% - 298.9px),
  transparent               calc(50% - 0.51px), 
  rgba(99, 66, 255, 0.33) calc(50% - 0.5px), 
  rgba(99, 66, 255, 0.33) calc(50% + 0.5px), 
  transparent               calc(50% + 0.51px), 
  transparent               calc(50% + 298.9px),
  rgba(88,86,107,0.2)     calc(50% + 299px),
  rgba(88,86,107,0.2)     calc(50% + 300px),
  transparent               calc(50% + 300.1px),
  transparent               calc(50% + 358.9px),
  rgba(88,86,107,0.2)     calc(50% + 359px),
  rgba(88,86,107,0.2)     calc(50% + 360px),
  transparent               calc(50% + 360.1px),
  transparent               100%
  );
} */

/* @utility grid-bg {
background:
  linear-gradient(to right,
  transparent               0%,
  transparent               calc(50% - 220.01px),
  rgba(88,86,107,0.2)     calc(50% - 220px),
  rgba(88,86,107,0.2)     calc(50% - 219px),
  transparent               calc(50% - 218.9px),
  transparent               calc(50% - 200.01px),
  rgba(88,86,107,0.2)     calc(50% - 200px),
  rgba(88,86,107,0.2)     calc(50% - 199px),
  transparent               calc(50% - 198.9px),
  transparent               calc(50% - 0.51px), 
  rgba(99, 66, 255, 0.33) calc(50% - 0.5px), 
  rgba(99, 66, 255, 0.33) calc(50% + 0.5px), 
  transparent               calc(50% + 0.51px), 
  transparent               calc(50% + 198.9px),
  rgba(88,86,107,0.2)     calc(50% + 199px),
  rgba(88,86,107,0.2)     calc(50% + 200px),
  transparent               calc(50% + 200.1px),
  transparent               calc(50% + 218.9px),
  rgba(88,86,107,0.2)     calc(50% + 219px),
  rgba(88,86,107,0.2)     calc(50% + 220px),
  transparent               calc(50% + 220.1px),
  transparent               100%
  );
} */


/* 
https://coolors.co/08090a-1c1c1f-232326-28282c-010102-282828-23252a-34343a-3e3e44
https://coolors.co/f7f8f8-d0d6e0-8a8f98-62666d-828fff-5e6ad2
https://coolors.co/4ea7fc-eb5757-4cb782-fc7840-f2c94c-5e6ad2-68cc58-d4b144-7a7fad

*/